/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.51, #A7A7A7),
        color-stop(0, #E4E4E4)
    );
    /*background-attachment:fixed;*/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;

	  margin-left:-18px;
	  margin-bottom:0px;
	  margin-right:0px;
    padding:0px;


	background-image: url(./sfondo/sfondo)
}

/* Portrait layout (default) */
.app {
    /*background:url(../img/logo-informagiovani.png) no-repeat center top;  170px x 200px */
    max-width:270px;                   /* text area width */
    text-align:center;
    margin: 0px auto;
	padding: 0px;
    position: relative;
    bottom: 80px;
}

.page {
	width: 300px;
	overflow: hidden;
	margin: 0px 10 px;
}


/*Oriani*/
h1	{
	font-family: courier,sans-serif;
	font-size: 30px;
	line-height:24px;
	text-align:left;
  padding-bottom:20px;
}



h3{
	font-size: 110%;
	text-align: left;
	color: black;
}




a:link, a:visited{color:white; text-decoration:none}

/*bottone home*/
.home {
  float: clear;
  position: relative;
  width: 40%;
  max-width: 200px;
}

.home img {
  width: 100%;
  height: auto;
  top: 10px;
}

.home .btn {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(20%, -20%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  padding: 8px 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  top: 10px;
}

.home .btn:hover {
  background-color: grey;
  top: 10px;

}

/* Bottone */
.dropbtn_formazione {
  background-color: #ffc70a;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 300px;
}
.dropbtn_lavoro {
  background-color: #e40f76;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 300px;
}

.dropbtn_istruzione {
  background-color: #2085b1;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 300px;
}
.dropbtn_volontariato {
  background-color: #68830e;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 300px;
}
.dropbtn_estero {
  background-color: #94271f;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 300px;
}
.dropbtn_tempo {
  background-color: #b26c01;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 300px;
}
/*contenuto del menu */
.dropdown_content_class {
  display: none;
  position: sticky;
  padding: 16px;
  margin-bottom: 30px;
  width: 270px;
  font-size: 14px;

}




.logo{
	float: right;
	width: 85%;
}
div.logo
{
  position: relative;
  bottom:50px;

  }
img.logo
{
	width:250px;
}


/*menu nuovo */
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav
{
  position: relative;
  width: 100%;
  height: 100px;
  z-index: 3;
  float:left;
  width:25%
}
a
{
  text-decoration: none;
}
.nav-links
{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  float: right;
}
.nav-links li
{
  list-style: none;
}
a.link
{
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-family: verdana;
}
div.menu-icon
{
  position: absolute;
  width: 10%;
  height: 100%;
  color: white;
  font-size: 30px;
  right:0;
  display: none;
}
@media screen and (max-width: 3000px)
{
  .nav-links
  {
    position: fixed;
    height: 102%;
    width:100%;
    background: black;
    flex-direction: column;
    left: -100%;
    transition: 0.5s;
    margin-top:-10px;
  }
  div.menu-icon
  {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-right: 12px;
  }
  .nav-links.open
  {
    left:0;
  }

}






/*______________*/


.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

button
{
	border-radius:20px;
	margin-top:10px;
}

img.link
{
  position: relative;
  top:5px;
  float: right;
}


