/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.51, #A7A7A7),
        color-stop(0, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    /*background:url(../img/logo-informagiovani.png) no-repeat center top;  170px x 200px */
    max-width:270px;                   /* text area width */
    text-align:center;
    margin: 0px auto;
	padding: 0px;
}

.page {
	width: 270px;
	overflow: hidden;
	margin: 0px 10px;
}

h11{
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

/*Oriani*/

h1{	
	font-family: courier,sans-serif; 
	font-size: 30px; 
	line-height:24px; 
	text-align:left;
}

h2 {
	height: 45px;
	font-size: 120%; 
	color: white;
	background-color: #2085b1;	
	line-height: 45px;
	text-decoration:none;
}

h3	{
	font-size: 110%;  
	text-align: left;
}


h4	{
	height: 45px;
	font-size: 120%; 
	color: white;
	background-color: #2085b1;	
	text-decoration:none;
	padding-top: 5px;
}


a:link, a:visited{color:white; text-decoration:none}


/*bottone home*/
.home
{
position: relative;
  width: 40%;
  max-width: 200px;
  top: 15px;
}

.home img {
  width: 100%;
  height: auto;
}

.home .btn {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(20%, -20%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  padding: 8px 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.home .btn:hover {
  background-color: grey;
}

/* Bottone */
.dropbtn {
  background-color: #2085b1;			
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 270px;
}


/*contenuto del menu */
.dropdown_content_class {
  display: none;
  position: sticky;    
  padding: 16px;
  margin-bottom: 10px;
  width: 270px;
  font-size: 14px;

}

/* hamburger e logo ____________________________________ */

.hamburgher
{
	max-width:270px;                   
    text-align:center;
    margin: 0px auto;
	padding: 0px;
}

#Cross_button{
  display: none;
  background: none;
  border: none;
}

#Hamburger_button{
  display: block;
  background: none;
  border: none;
}

.contenuti{
  display: none;
  font-size: 110%;
  text-align: left;
  font-weight: bold;
}

.contenuti a {
  color: #2085b1;
}

.logo{
	float: right;
	width: 85%;
}

.logo img{
	width: 105%;
	text-align: left;
}


.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}